body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.naoClickavel{
    pointer-events: none;
}
h1{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 47px;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
    max-width: 90%;
}
ul{
    width: 872px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
}
li{
    height: 146px;
    width: 117px;
    background: #75B79E;
    margin-left: 34px;
    margin-top: 20px;
    max-width: 100%;
    position: relative;
    border-radius: 5px;
    border: 1px solid #99CEA8;
}

img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 24px;
    left: 10px;
    bottom: 22px;
    right: 7px;
}
.frente{
    opacity: 0;
    z-index: 1;
}
.virada .frente{
    opacity: 1;
}
.virada .verso{
    opacity: 0;
}
.viradaEmJogo .frente{
    opacity: 1;
}
.viradaEmJogo .verso{
    opacity: 0;
}
li:first-child{
    margin-left: 0;
}
li:nth-child(7){
    margin-left: 0;
}
li:nth-child(13){
    margin-left: 0;
}

@media (max-width: 800px){
    ul{
        width: 35%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    li{
        margin: 10px 0px ;
        width: 100%;
    }
    img{
        padding-left: 0px;
    }
}